@model WebApplication2.Models.AspNetRole
@using WebApplication2.Models
@{
    ViewBag.Title = "Delete";
    var userId = ViewBag.UserId as AspNetUser;
    var db = new SEP24Team3Entities();
}



<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Name
        </dt>

        <dd>
            @userId.UserName
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "AspNetRoleUser", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="text" style="display:none;" name="roleId" value="@Model.Id" />
            <input type="text" style="display:none;" name="userId" value="@userId.Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-dark" href="@Url.Action("Index","AspNetRoles")">Back</a>
        </div>
    }
</div>
