@model IEnumerable<WebApplication2.Models.Class>

@{
    ViewBag.Title = "Index2";
}

<h2>Class of Lecturer</h2>



<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List Class</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ClassCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ClassName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalStudent)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalWeek)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AspNetUser.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FACULTY.FACULTYNAME)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SEMESTER.SEMESTER_CODE)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClassCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClassName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalStudent)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalWeek)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FACULTY.FACULTYNAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SEMESTER.SEMESTER_CODE)
                            </td>
                            <td>
                                <a href="@Url.Action("Index","ATTENDANCE", new { id = item.id })">
                                    <i class="fa fa-id-badge" aria-hidden="true"></i>
                                </a> |
                                @*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |*@
                                <a href="@Url.Action("Index","ClassList", new {id = item.id })"><i class="fa fa-users" style="color:black;" aria-hidden="true"></i></a>
                                @*@Html.ActionLink("Delete", "Delete", new { id = item.id })*@
                            </td>
                        </tr>

                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
